*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    text-align: center;
    margin: 0px;
}
h1 {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-family: Righteous, Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: 0px;
}
p {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}
tr {
    color: darkorange;
    align-content: center;
}
table {
    position: absolute;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}
.intro {
    color: #ffffff;

    border: solid 6px #026969;
    border-radius: 50px;

    padding: 46px;
    margin: auto;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 0 25px;
    align-items: center;
}
.gallery-item {
    position: relative;
    width: calc(28% - 0px);
    height: auto;
    margin: auto;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.gallery-item:hover {
    transform: scale(1.1);
}
.gallery a {
    display: contents;
}

.centered-content {
    max-width: 772px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.review-card {
    color: #ffffff;

    border: solid 6px #026969;
    border-radius: 50px;

    margin: 10%;
    padding: 100px;
    
    order: 2;
}

.review-card img {
    padding: 0px;
    margin: 0px;
    width: 350px;
    display: flexbox;
}

/* defualt - mobile/phone */
.navbar {
    display: inline-flex;
    list-style-type: none;
    
    
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}
.navbutton {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;

    border: solid 6px #026969;
    border-radius: 50px;

    
    height: 50px;

    padding: 10px;
    margin: 0px;
    
    margin-left: auto;
    margin-right: auto;
}

/* tablet and up */
@media (min-width: 830px) {
    .navbar {
        border: solid 6px #026969;
        border-radius: 50px;

        width: 100%;
        
    }
    .navbutton {
        border: none;

        padding: 15px;
        

        width: 100%;
    }
}

/* large desktop */
@media (min-width: 1200px) {
    h1 {
        font-size: 125px;
    }

    .navbar {
        display: flex;

        margin: 0;
        padding: 0;
    }
    .navbar a {
        display: block;
        padding: 0;
    }
    .navbutton {
        width: 150px;
        height: 20px;

        padding: 0px;
        margin: 20px;
    }
}

.form {
    color: white;
}