*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: darkcyan;
    text-align: center;
}
h1 {
    color: #f5f5f5;
    text-decoration: underline;
    font-weight: bold;
    font-family: Righteous, Arial, Helvetica, sans-serif;
}
p {
    color: antiquewhite;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}
tr {
    color: darkorange;
    align-content: center;
}
table {
    position: absolute;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
.intro {
    color: #0088ff;
    background-color: darkslategray;
    
    border-width: 5px;
    border-style: solid;
    border-color: #026969;
    border-radius: 8px;
    
    padding: 10px;
    margin: 10px
}

.banner {
    background-color: darkslategray;
    
    border-width: 5px;
    border-style: solid;
    border-color: #026969;
    border-radius: 8px;
    
    padding: 10px;
    
}
