*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #000000;

    text-align: center;

    margin: 0px;
}
h1 {
    color: #ffffff;

    text-decoration: none;

    font-weight: bold;
    font-family: Righteous, Arial, Helvetica, sans-serif;
    font-size: 50px;

    margin: 0px;
}
p {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}
table {
    margin: auto;
}
tr,
th,
td {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;

    border: 3px solid #026969;
    border-radius: 10px;

    padding: 5px;
}
.intro {
    color: #ffffff;

    border: solid 6px #026969;
    border-radius: 50px;

    padding: 46px;
    margin: 10%;

    align-content: center;
}

.review {
    color: #ffffff;

    border: solid 6px #026969;
    border-radius: 50px;

    padding: 46px;
    margin: 10%;

    align-content: center;
    
    overflow: hidden;
}
iframe {
    display: flex;  
    
    margin: auto;
}
.game-banner {
    margin: 10px;
}

.game-banner img {
    width: 100%;
    height: auto;
    
    border-radius: 50px;
}

h2 {
    font-family: Righteous, Arial, Helvetica, sans-serif;
}
h3 {
    font-family: Righteous, Arial, Helvetica, sans-serif;
}
h4 {
    font-family: Righteous, Arial, Helvetica, sans-serif;
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    padding: 25px 0 25px;

    align-items: center;
}
.gallery-item {
    position: relative;

    width: calc(28% - 0px);
    height: auto;

    margin: auto;

    cursor: pointer;

    transition: transform 0.5s ease;

    border-radius: 10px;
}
.gallery-item:hover {
    transform: scale(1.1);
}
.gallery a {
    display: contents;
}

.centered-content {
    max-width: 1000px;
    min-width: 75%;

    margin-left: auto;
    margin-right: auto;

    text-align: left;

    align-content: center;
}

.review-card {
    color: #ffffff;

    border: solid 6px #026969;
    border-radius: 50px;

    margin: 10%;
    padding: 25px;

    align-content: center;
}

.review-card img {
    width: 100%;

    display: flex;

    margin-left: auto;
    margin-right: auto;

    border-radius: 50px;

    cursor: pointer;
}

.review-card-info h2 {
    font-family: Righteous, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    
    cursor: pointer;
    
    margin-top: 50px;
}

.form {
    color: #ffffff;
    
    margin: auto;
    padding: 10px;
    
    
    text-align: center;
}

/* defualt - mobile/phone */
.navbar {
    display: inline-flex;
    list-style-type: none;
}
.navbar a {
    color: #ffffff;

    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.navbutton {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;

    border: solid 6px #026969;
    border-radius: 50px;

    height: 50px;

    padding: 10px;
    margin: 10px;
}

@media (max-width: 675px) {
    #comment {
        padding: auto;
        width: 240px;
    }

}

/* tablet and up */
@media (min-width: 830px) {
    .navbar {
        border: solid 6px #026969;
        border-radius: 50px;

        width: 100%;
        padding: 10px;
    }
    .navbutton {
        border: none;

        padding: 15px;

        width: 100%;
    }
    .review {
        margin: 50px;
        margin-top: 0px;
    }
    .review-card {
        margin: 10%;
        padding: 50px;
        
        text-align: left;
    }

    .review-card img {
        width: 60%;
        
        float: left;
        
        margin: 25px;
    }
    .game-banner {
        margin: 50px;
    }

    .game-banner img {
        max-width: 100%;
        
        border-radius: 50px;
    }
}

/* large desktop */
@media (min-width: 1200px) {
    h1 {
        font-size: 125px;
    }

    .navbar {
        display: flex;

        margin: 0;
        padding: 0;
    }
    .navbar a {
        display: block;
        padding: 0;
        
        text-align: center;
    }
    .navbutton {
        width: 150px;
        height: 20px;

        padding: 0px;
        margin: 20px;
    }
    .review {
        margin: 0px;
    }
    .review-card {
        text-align: center;
        align-content: center;
        padding: 25px;
    }
    .review-card img {
        width: 100%;

        margin: 0px;

        float: none;
    }
    .game-banner {
        margin: 50px;
    }
    .game-banner img {
        max-width: 800px;
        border-radius: 50px;
    }
}
